label, input[type=submit], input[type=text], textarea{
	display: block;
}
textarea{
	width: 300px;
	height: 80px;
} 
input[type=submit]{
	background: #ff6777;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	border: 0px;
}
input[type=submit]:hover{
	background: #ff6600;
}